[project]
	description = Proprietary blobs for Samsung MSM7x27A devices (currently includes jena & trebon)
[access "refs/*"]
	owner = group user/TesterTerbon (TesterTerbon)
[access "refs/for/refs/*"]
	read = group user/TesterTerbon (TesterTerbon)
	push = group user/TesterTerbon (TesterTerbon)
	label-Code-Review = -2..+2 group user/TesterTerbon (TesterTerbon)
	label-Verified = -1..+1 group user/TesterTerbon (TesterTerbon)
	rebase = group user/TesterTerbon (TesterTerbon)
	removeReviewer = group user/TesterTerbon (TesterTerbon)
	submit = group user/TesterTerbon (TesterTerbon)
[access "refs/heads/*"]
	read = group user/TesterTerbon (TesterTerbon)
	create = group user/TesterTerbon (TesterTerbon)
	push = +force group user/TesterTerbon (TesterTerbon)
	pushMerge = group user/TesterTerbon (TesterTerbon)
[access "refs/tags/*"]
	push = +force group user/TesterTerbon (TesterTerbon)
	pushTag = group user/TesterTerbon (TesterTerbon)
	pushSignedTag = group user/TesterTerbon (TesterTerbon)
